* {
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(222, 244, 189);
  --secondary-color: rgb(240, 193, 107);
  --greenSubstaction: rgb(114, 194, 105);
  --colorDarkGold: rgb(185, 125, 16);
  --tertiary-color: rgb(227, 172, 117);
}
body {
  background-color: var(--primary-color);
}
.loader {
  position: fixed;
  background-color: var(--greenSubstaction);
  height: 100vh;
  z-index: 1000;
  inset: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.9ms 2s alternate forwards;
  transform-origin: top;
}
.fa-spinner {
  position: inherit;
  color: var(--colorDarkGold);
}
.fa-circle-notch {
  position: inherit;
  color: var(--secondary-color);
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
h1 {
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 2px var(--colorDarkGold);
  padding-top: 64px;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px;
}
#photoProfil {
  height: 96px;
  width: 96px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  box-shadow: 64px 64px 64px 64px inset var(--greenSubstaction);
  object-fit: cover;
}



h3 {
  color: var(--tertiary-color);
}
h4 {
  color: var(--tertiary-color);
}
.child {
  gap: 32px;
  margin-top: 32px;
}
.imgRS {
  height: 64px;
  width: 64px;
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
}
a {
  text-decoration: none;
}
#footer-p {
  opacity: 0.7;
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--greenSubstaction);
  
}



@media (min-width: 850px) {
  body {
    background-color: var(--primary-color);
  }
  #photoProfil {
    height: 256px;
    width: auto;
    border: 6px solid var(--secondary-color);
    margin-top: -4rem;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .child a :hover {
    color: var(--secondary-color);
  }
  .imgRS {
    height: 128px;
    width: auto;
    border: 4px solid var(--secondary-color);
    border-radius: 32px;
  }
  h1 {
    font-size: 6rem;
    padding-top: 32px;
  }
  #footer-p{
   
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--greenSubstaction);
  }
}
