* {
  margin: 0;
  padding: 0;
}
:root {
  --colorRed: #aa0505;
  --colorYellow: #fbca03;
  --colorDarkRed: #6a0c0b;
  --colorDarkGold: #b97d10;
  --colorBlue: #67c7eb;
}
body {
  background-color: var(--colorRed);
}
h1 {
  text-align: center;
  color: var(--colorYellow);
  text-shadow: 2px var(--colorDarkGold);
  padding-top: 4rem;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  padding-top: 6rem;
}
#photoProfil {
  height: 5rem;
  width: 5rem;
  border: 2px solid var(--colorYellow);
  border-radius: 50%;
  box-shadow: 4rem 4rem 4rem 4rem inset var(--colorDarkRed);
  object-fit: cover;
}
h3 {
  color: var(--colorBlue);
}
h4 {
  color: var(--colorBlue);
}
.child {
  gap: 2rem;
  margin-top: 2rem;
}
.imgRS {
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--colorYellow);
  border-radius: 1rem;
  /* background-color: var(--colorBlue); */
}
a {
  text-decoration: none;
}
